.hidden{
  display: none;
}


body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  background-image: url(./background.png);
  /* background-repeat: repeat-y; */
  /* animation: moves 1000s infinite linear; */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* @keyframes moves {
  to {
    background-position: 80% -2000vh;
  }
} */

#corner-back-button{
  position: fixed;
  bottom: 100px;
  left: 100px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 20;
}


/* HOME PAGE */

#author{
  text-align: center;
  margin: 30vh 0 -40vh 0;
  font-size:1.6rem;
}

h1{
  position: sticky;
  top: 50px;
  margin: 43vh 0 46vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
}

h1,h2{
  color: #FFF;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-page-ul{
  position: sticky;
  top: 32vh;
  height: 70vh;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

li{
  display: flex;
  flex-direction: column;
}

button{
  opacity: 0.7;
  height: 70px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 20px 2px lightblue;
}

img{
  border-radius: 20px;
  box-shadow: 5px 5px 20px 2px lightblue;
}

.section-image{
  opacity: 0;
  height: 400px;
  width: 400px;
  transition: opacity 1s ease;
}

li:hover > img{
  opacity: 1;
  cursor: pointer;
}

li:hover > button{
  transform: translateY(500px);
  transition: 0.5s;
}

li:not(hover) > button{
  transform: translateY(0px);
  transition: 0.5s;
}


/* HISTORY PAGE */



#history-container{
  width: 100%;
  padding-bottom: 10vh;
}

#history-page p{
  width: 40vw;
  font-size: 1.5rem;
  margin: 0;
}

#history-page img{
  height: 50vh;
  width: 50vh;
}

/* COMPONENTS PAGE */

#components-page {
  height: 145vh;
}


#components-container{
  height: 77vh;
  position: absolute;
  bottom: -85vh;
  left:0;
  width: 100%;
}

#components-list{
  display: flex;
  padding-top: 5vh;
  justify-content: center;
  gap: 40px;
}
.component-icon{
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  transition: margin 1s ease;
}

.shown{
  margin: 0 30px;
  transition: margin 1s ease;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


#shown-component > *{
  display: flex;
  padding: 8vh 10vw 0 10vw;
  gap: 100px;
}

#shown-component .component div{
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

#shown-component ul {
  margin: 0;
}

#shown-component p,
#shown-component li {
  font-size: 2rem;
  margin: 0;
}

.component-cover{
  height: 40vh;
  width: 35vw;

}

/* FUTURE PAGE */

#future-page {
  padding: 0 10vw;
}

#future-page h2{
  font-size: 3rem;
  margin-bottom: 20px;
}

#future-container {
  height: 85vh;
  padding-top:10vw;
}

#future-container .swiper{
  height: 80vh;
  display: flex;
  align-items: center;
}

#future-page p {
  font-size: 1.5rem;
  text-indent: 2.5rem;
}

#future-page li{
  font-size: 1.5rem;
}

.img-container{
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.img-container img{
  height: min(35vh,21vw);
  margin: 0 1vw;
}

@media screen and (max-width: 1500px){

  #corner-back-button{
    bottom: 50px;
    left: 50px;
  }
  
  h1{
    font-size: 6rem;
    top: 20px; 
  }
  
  /* home-page */

  .main-page-ul{
    gap: 10px;
  }

  .main-page-ul li{
    width: min(45vh,26vw);
  }

  .section-image{
    height: min(45vh,26vw);
    width: min(45vh,26vw);
  }

  li:hover > button{
    transform: translateY(calc(min(45vh,26vw) + 100px));
  }
  /* history-page */

  #history-content p{
    font-size: 1.2rem;
  }

  /* components-page */

  .component-icon{
    width: 80px;
    height: 80px;
  }

  #shown-component > *{
    gap: 50px;
  }

  #shown-component p,
  #shown-component li{
    font-size: 1.5rem;
  }

  .shown{
    margin: 0 10px;
  }

  /* FUTURE PAGE */


  #future-container .swiper{
    height: 80vh;
    display: flex;
    align-items: center;
  }

  #future-page h2{
    font-size: 2.3;
  }

  #future-page p,
  #future-page li {
    font-size: 1.2rem;
    margin: 0;
  }

  .img-container{
    margin-top:10px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .img-container img{
    margin: 0 1vw;
  }

}

@media screen and (max-width: 1200px){
  #corner-back-button{
    width: 50px;
    height: 50px;
  }
  /* HOME PAGE */
  h1{
    font-size: 5rem;
    top: 20px; 
  }

  .main-page-ul{
    gap: 10px;
  }

  .main-page-ul li{
    width: 26vw;
  }

  button{
    height: 50px;
  }

  .section-image{
    height: 26vw;
    width: 26vw;
  }

  li:hover > button{
    transform: translateY(calc(26vw + 80px));
  }

  #history-page p{
    font-size: 1.2rem;
  }

  /* COMPONENTS PAGE */

  #components-list{
    gap: 20px;
  }
  .component-icon{
    height: 70px;
    width: 70px;
  }

  #shown-component > *{
    gap: 50px;
  }

  #shown-component ul{
    padding-left: 20px;
  }

  #shown-component p,
  #shown-component li {
    font-size: 1.1rem;
  }

  .shown{
    margin: 0 10px;
  }

  /* FUTURE PAGE */


  #future-container .swiper{
    height: 80vh;
    display: flex;
    align-items: center;
  }

  #future-page p,
  #future-page li {
    font-size: 1rem;
    margin: 0;
  }

  #future-page h2{
    font-size: 1.5rem;
  }

  #future-page h2,
  #future-page ul{
    margin: 0;
    padding: 0;
  }

  .img-container{
    margin-top:10px;
    display: flex;
    justify-content: center;
  }



}

/* timeline */
.swiper-container-wrapper--timeline .swiper-slide {
  display: flex;
  gap:50px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent;
}
.swiper-container-wrapper--timeline .swiper-slide .history-container,
.swiper-container-wrapper--timeline .swiper-slide .future-container{
  padding: 0;
  width: 100%;
}
.swiper-container-wrapper--timeline .swiper-slide .title {
  font-size: 18px;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper-container-wrapper--timeline .swiper-slide-active .title {
  opacity: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
  position: relative;
  background-color: transparent;
  height: 4px;
  border-bottom: 1px solid #888;
  width: 85%;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
  background-color: #000;
  height: 3px;
  top: 2px;
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
  position: absolute;
  top: 2px;
  left: -100%;
  width: 100%;
  height: 3px;
  background-color: #000;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
  position: absolute;
  top: 3px;
  right: -100%;
  width: 100%;
  height: 1px;
  background-color: #888;
  content: "";
}
.swiper-container-wrapper--timeline .swiper-pagination-custom {
  position: relative;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  line-height: 1.66;
  bottom: 0;
  z-index: 11;
  width: 85%;
  display: flex;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
  position: absolute;
  font-weight: 400;
  font-size: 1.8rem;
  right: 0;
  transform: translateX(50%);
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
  position: absolute;
  top: calc(100% + 19px);
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 2rem;
  content: "";
  transition: 0.2s all ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
  font-weight: 400;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
  background: #000;
  width: 25px;
  height: 25px;
  transition-delay: 0.4s;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title {
  color: #888;
  font-weight: 16px;
}
.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active ~ .swiper-pagination-switch .switch-title:after {
  background: #888;
}

.swiper{
  padding: 10px 0;
}
